#main{
  background: -moz-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%, rgba(255,255,255,1) 65%),
              -moz-linear-gradient(-45deg, rgba(86,86,86,.5) 0%, rgba(255,255,255,1) 100%);

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(204,204,204,0.65)), color-stop(65%,rgba(255,255,255,1))),
              -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(86,86,86,.5)), color-stop(100%,rgba(255,255,255,1)));

  background: -o-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -o-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: -ms-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -ms-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: linear-gradient(135deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              linear-gradient(135deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 79.15%;
}

/**************************
PROFILE
**************************/

.profile {
  background: -moz-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%, rgba(255,255,255,1) 65%),
              -moz-linear-gradient(-45deg, rgba(86,86,86,.5) 0%, rgba(255,255,255,1) 100%);

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(204,204,204,0.65)), color-stop(65%,rgba(255,255,255,1))),
              -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(86,86,86,.5)), color-stop(100%,rgba(255,255,255,1)));

  background: -o-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -o-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: -ms-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -ms-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: linear-gradient(135deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              linear-gradient(135deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);
}

.profile div.ui.card div.content a.header{
  font-family: 'IskoolaPota-Black' serif;
  font-size: 1.25em;
}

.profile div.ui.card div.content div.meta span.date{
  font-family: 'Helvetica-Oblique' sans-serif;
  font-weight: normal;
  font-style: oblique;
  font-size: .95em;
  color: #aaa;
}

.profile div.ui.card div.content div.description{
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  color: #000;
  font-size: 1.015em;
  letter-spacing: .015em;
}

.ui.card > .extra a:not(.ui){
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  font-size: 1.015em;
  letter-spacing: .015em;
  color: #aaa;
}

.ui.card > .extra a:not(.ui):hover {
  color: #FFF200;
  color: #000;
  text-shadow: 1px 1px rgb(255, 255, 0);
}


/**************************
SCHEDULE
**************************/

.schedule h1 {
  color: orange;
  font-size: 2em;
}

* .schedule,
*::before .schedule,
*::after .schedule{
  box-sizing: border-box;
}

body {
  background: #eee;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.3) 100%);
}


.accordion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.accordion input[name='panel'] {
  display: none;
}

.accordion label {
  position: relative;
  display: block;
  padding: 1em;
  background: linear-gradient(to bottom, #ffffff 0%,#e2e2e2 35%,#dddddd 50%,#e2e2e2 65%,#e2e2e2 65%,#ffffff 100%); 
  border-top: 1px solid #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 2px 0 #fff;
  font-size: 1.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  color: #000;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.accordion label:after {
  content: '+';
  position: absolute;
  right: 1em;
  width: 1em;
  height: 1em;
  color: #000;
  text-align: center;
  border-radius: 50%;
  background: #FFFF00;
  box-shadow: inset 0 1px 6px rgba(0, 0, 0, 0.5), 0 1px 0 #fff;
  text-shadow: 0 1px 0 rgba(255, 255, 0, 1);
}

.accordion label:hover {
  color: #FFFF00;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 1);
}

.accordion input:checked + label {
  color: #FFFFFF;
  text-shadow: 2px 1px 0 #000;
}

.accordion input:checked + label:after {
  content: '-';
  /* adjsut line-height to vertically center icon */
  
  line-height: .8em;
}

.accordion .accordion__content {
  overflow: auto;
  height: 0px;
  position: relative;
  padding: 0 1.5em;
  box-shadow: inset 4px 0 0 0 #FFFF00, inset 0 3px 6px rgba(0, 0, 0, 0.75);
  background: #444;
  background: linear-gradient(to bottom, #444444 0%, #222222 100%);
  color: #eee;
  transition: height 0.4s cubic-bezier(0.865, 0.14, 0.095, 0.87);
}

.accordion .accordion__content:not(:last-of-type) {
  box-shadow: inset 0 -2px 2px rgba(0, 0, 0, 0.25), inset 4px 0 0 0 #1abc9c, inset 0 3px 6px rgba(0, 0, 0, 0.75);
}

.accordion .accordion__content .accordion__header {
  /*padding: 1em 0;*/
  font-family: 'IskoolaPota-Black' serif;
  font-size: 1.75em;
}

.accordion .accordion__content .accordion__body {
  font-family: 'Helvetica';
  font-weight: normal;
  font-style: normal;
  padding: 0 0 1.5em;
  font-size: .95em;
  letter-spacing: .05em;
  line-height: 1.4em;
}

input[name='panel']:checked ~ .accordion__content {
  height: 175px;
}



/**************************
SEARCH BAR
**************************/

.ui.search .prompt {
  border-radius: 10px;
}

.ui.icon.input{
  /*width: 50%;*/
  /* JESUS FUCKING CHRIST, FUCK THE DASH PIECE OF BULLSHIT */
  width: 100%;
  right: 25%;
  /*left: 25%;*/
  /* 0% need to display properly on bullshit cunt Dash */
  left: 0%; 
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.36);
  border-width: 1px;
  border-radius: 10px;
}


.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix::after {
  clear: both;
  content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix {
  zoom: 1;
}

*:first-child+html .clearfix {
  zoom: 1;
}

