/**************************
GENERAL
**************************/

body{
  /*background: url("../img/pyramid.png");
  background: url("../img/vaio.png");
  background-repeat: repeat; */

  background: -moz-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%, rgba(255,255,255,1) 65%),
              -moz-linear-gradient(-45deg, rgba(86,86,86,.5) 0%, rgba(255,255,255,1) 100%);

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(204,204,204,0.65)), color-stop(65%,rgba(255,255,255,1))),
              -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(86,86,86,.5)), color-stop(100%,rgba(255,255,255,1)));

  background: -o-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -o-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: -ms-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -ms-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: linear-gradient(135deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              linear-gradient(135deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background-repeat: no-repeat;
  background-attachment: fixed;
  max-width: 79.15%;
  margin: 0 auto 3em auto;
}

section{
  margin: 20px 0;
}

/**************************
HEADER
**************************/

header h1{
  font-size: 3em;
  letter-spacing: .05em;
  text-align: center;
}

header p{
  font-family: 'IskoolaPota' serif;
  font-size: 1.15em;
  text-align: left;
}

header span.created{
  margin: 0 0 0 0;
  float: right;
}

/**************************
HEADINGS & PARAGRAPH
**************************/

section.main{
  width: 50%;
  float: left;
}

h1, h2, h3{
  letter-spacing: .025em;
}

h1, h2{
  font-family: 'IskoolaPota-Black' serif;
}

h3{
  font-family: 'IskoolaPota' serif;
  font-weight: normal;
}

section aside{
  margin: -.75em 0 1em 0;
  font-family: 'Helvetica' sans-serif;
}

#normal{
  font-family: 'Helvetica' sans-serif;
  font-size: 1.015em;
  margin: -.75em 0 1.25em 0;
  width: 95%;
}

/**************************
PARAGRAPH & LINK STYLES
**************************/

section.bodyText{
  width: 40%;
  float: right;
  padding-left: 10%;
}

section.bodyText h3{
  margin-top: 1.5em;
  margin-bottom: -0.25em;
}

#unvisited a{
  color: #000;
  text-shadow: 1px 1px rgb(255, 255, 0);
}

#visited a{
  color: #aaa;
  text-shadow: 1px 1px rgb(0, 0, 0);
  text-decoration: none;
}

#bold,
#italic,
#boldItalic{
  font-size: 1.05em;
}

#bold{
  font-family: 'Helvetica-Bold' sans-serif;
  font-weight: bold;
  margin-top: 1.75em;
}

#italic{
  font-family: 'Helvetica-Oblique' sans-serif;
  font-weight: normal;
  font-style: oblique;
  margin-top: 1.5em;
}

#boldItalic{
  font-family: 'Helvetica-BoldOblique' sans-serif;
  font-weight: bold;
  font-style: oblique;
  margin-top: 1.5em;
}

/**************************
 LAYOUT FOR STYLE TILES
**************************/

section.colors,
section.patterns{
  display: inline;
  float: left;
}

section.colors{
  width: 50%;
  clear: left;
}

section.patterns{
  width: 40%;
  padding-left: 10%;
}

.color-1,
.color-2,
.color-3,
.color-4,
.pattern-1/*,
.pattern-2,
.pattern-3, 
.imagery-1,
.imagery-2,
.imagery-3 */{
  border-width: 2px;
  border-style: solid;
  border-color: #000;
  float: left;
  margin: 0 10px 0 10px;
  height: 75px;
  width: 75px;
}

.colors aside,
.patterns aside{
  font-family: 'IskoolaPota';
  font-size: 1.5em;
  margin-bottom: .5em;
}

/**************************
 STYLE TILE PROPERTIES
**************************/

.color-1{
  background: #000;
}

.color-2{
  background: #fff;
}

.color-3{
  background: #aaa;
}

.color-4{
  background: #ffff00;
}

.pattern-1{
  background: -moz-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%, rgba(255,255,255,1) 65%),
              -moz-linear-gradient(-45deg, rgba(86,86,86,.5) 0%, rgba(255,255,255,1) 100%);

  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(204,204,204,0.65)), color-stop(65%,rgba(255,255,255,1))),
              -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(86,86,86,.5)), color-stop(100%,rgba(255,255,255,1)));

  background: -o-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -o-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: -ms-linear-gradient(-45deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              -ms-linear-gradient(-45deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);

  background: linear-gradient(135deg, rgba(204,204,204,0.65) 0%,rgba(255,255,255,1) 65%),
              linear-gradient(135deg, rgba(86,86,86,.5) 0%,rgba(255,255,255,1) 100%);
}

.clear{
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0
}

.clearfix:after{
  clear:both; content: ' ';
  display: block;
  font-size: 0;
  line-height: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

* html .clearfix{ 
  zoom: 1;
}

*:first-child+html .clearfix{ 
  zoom: 1;
}
